body
{
    background-image: url("../images/narancsszegely.png");
    background-repeat: repeat-y;
    font-size: 20px;
}

h1,h2,h3
{
    color:darkblue;
    background-color:lightgrey;
    margin: 0.5cm 2cm;
    text-align: center;
    font-family: arial, 'sans serif'; 
}

p
{
    margin: 5px 75px;
}

p.kulonos
{
    margin: 10px 80px;
    padding: 10px;
    border: solid orange;
    text-align: center;
    background-color: gold;
}

pre
{
    color:red;
    margin-left:2.5cm;
    font-size: 120%;
}

li
{
    font-size: 85%;
}

div
{
    background-color: rgb(255, 128, 128);
    margin: 12px 85px;
    border: 2px solid blue;
    padding: 10px 20px;
    width:360px;
    text-align: center;
}

div.vilagos
{
    background-color: pink;
    border: dotted lightgreen;
    margin: 20px auto;
}

.vilagos
{
    color: grey;
}

a
{
    text-decoration: none
}

a:link    {color:blue;}
a:visited {color:green;}
a:active  {color:red;}
a:hover   {color:gold;}

