h1,h2,h3
{
font-family: verdana, arial, 'sans serif'; 
}

p,table,li
{
font-family: verdana, arial, 'sans serif'; 
margin-left: 10pt;
}

ul
{
list-style: disc; 
}

ol
{
list-style: decimal; 
}

p,li,th,td
{
font-size: 75%;
}

body
{
background-color: #ffffff;
}

h1,h2,h3,hr 
{
color:black; 
}

a:link    {color:black}
a:visited {color:black}
a:active  {color:mediumblue}
a:hover   {color:mediumblue}

